.tododItemContainer {
    /* background-image: url(https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg); */
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
    padding: 2px;
    transition: .2s;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 246, 246);
}

.completeBTN {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.tododItemContainer p {
    font-size: 20px;
}

.todoItem {
    display: flex;
}

.todoAction {
    display: flex;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.editContainer {
    display: flex;
    padding: 10px;
    height: 40px;

    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.editInput {
    border: none;
    outline: none;
    width: 80%;
    font-size: 25px;

}

.editDoneIcon {
    font-size: 25px;
}