.addContainer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;

}

.addToDo {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding: 4px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addToDo input {
    border: none;
    font-size: 20px;
    outline: none;
}



.addIcon {
    color: blue;
    font-size: 35px;
}